<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | Create Group</title>
    </head>
    <body>
        {{> navbar fixed=true loggedIn=loggedIn}}
        <div class="w-full h-full flex flex-col justify-center items-center">
            <div class="w-full max-w-sm flex flex-col">
                <h1 class="mb-6 text-3xl font-bold">Create Group</h1>
                <form method="post" class="w-full flex flex-col space-y-4">
                    {{> input type="text" name="name" placeholder="Name" required="required"}}
                    {{> input type="area" name="description" placeholder="Description" required="required"}}
                    {{#> button}}Create{{/button}}
                </form>
            </div>
        </div>
    </body>
</html>