<div class="flex justify-center items-center {{#if fixed}}fixed{{else}}sticky{{/if}} top-0 left-0 right-0 bg-white border-b border-stone-600/30 shadow-md shadow-stone-600/10 z-50">
    <div class="w-full max-w-8xl px-6 py-4 flex justify-between items-center">
        <a href="/" class="flex items-center font-bold text-lg space-x-2">
            {{> ball size="size-4"}}
            <span>FOCCACIA</span>
        </a>
        <div class="flex items-center space-x-4">
            {{#if (not loggedIn)}}
                {{#> button anchor=true href="/signup"}}Create account{{/button}}
                {{#> button anchor=true secondary=true href="/login"}}Log In{{/button}}
            {{else}}
                {{#> button anchor=true href="/groups"}}Go to groups{{/button}}
                <form method="post" action="/logout">
                    {{#> button secondary=true}}Log Out{{/button}}
                </form>
            {{/if}}
        </div>
    </div>
</div>