<form method="{{method}}" action="{{action}}" class="w-100 p-10 flex flex-col justify-center items-center border border-stone-600/30 rounded-2xl shadow-md shadow-stone-600/10">
    {{> ball size="size-12"}}
    <h1 class="mt-4 text-3xl font-extrabold">FOCCACIA</h1>
    <div class="w-full mt-10">
        <p class="mb-1.5 font-bold">Username</p>
        {{> input type="text" name="username" placeholder="Required" required="required" autocomplete="username"}}
    </div>
    <div class="w-full mt-6">
        <p class="mb-1.5 font-bold">Password</p>
        {{> input type="password" name="password" placeholder="Required" required="required" autocomplete="current-password"}}
    </div>
    {{#> button class="w-28 mt-10"}}{{btnText}}{{/button}}
    <p class="mt-8 text-sm text-stone-500">{{> @partial-block }}</p>
    {{#> button link=true anchor=true href="/" class="mt-1 text-sm"}}Go to the homepage{{/button}}
</form>