<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA | Log In</title>
        {{> script}}
    </head>
    <body class="w-full min-h-full flex flex-col justify-center items-center">
        {{#if message}}
            {{#> sonner}}
                <p class="font-semibold">Login failed!</p>
                <p class="mt-1 text-sm text-stone-700">{{message}}</p>
            {{/sonner}}
        {{/if}}
        {{#> signin btnText="Log In" method="POST" action="/login"}}
            Don't have an account? {{#> button link=true anchor=true href="/signup"}}Sign up{{/button}} instead
        {{/signin}}
    </body>
</html>