<div id="loadingScreen" class="p-6 hidden justify-end items-end fixed inset-0 bg-stone-100/50 opacity-0 backdrop-blur-xs transition-opacity duration-300 z-50">
    {{> clockspinner class="w-12 h-12 text-orange-600"}}
</div>