<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
        <title>FOCCACIA</title>
    </head>
    <body>
        {{> navbar fixed=true loggedIn=loggedIn}}
        <div class="w-full min-h-full flex flex-col justify-center items-center">
            {{> ball size="size-20"}}
            <h1 class="mt-10 text-6xl font-extrabold">FOCCACIA</h1>
            <p class="mt-4 text-lg">Search for teams, create groups and more!</p>
            <div class="mt-8 flex space-x-4">
                {{#if (not loggedIn)}}
                    {{#> button anchor=true href="/signup"}}Start Now{{/button}}
                {{else}}
                    {{#> button anchor=true href="/groups"}}Go to Groups{{/button}}
                {{/if}}
                {{#> button anchor=true secondary=true href="/search"}}Search Teams{{/button}}
            </div>
        </div>
    </body>
</html>